@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

Image {
    background: rgba(255, 255, 255, 0);
    pointer-events: none;
    z-index: 99999;
}

.goog-te-banner-frame {
      display: none !important;
    }
.goog-te-gadget {
  font-size: 16px !important;
}
.goog-te-gadget-simple {
  background-color: #f8f9fa !important;
  border: 1px solid #ccc !important;
  padding: 10px !important;
  border-radius: 8px;
  cursor: pointer;
}
.goog-te-menu-value {
  font-size: 14px !important;
  color: #333 !important;
}
.goog-te-menu-value:hover {
  color: #007bff !important;
}
    /* Make dropdown visible */
.goog-te-menu-frame {
  z-index: 9999 !important;
  position: absolute !important;
  top: 100% !important;
}